*{
    font-family: Cambria;
} 

.opening{ 
    text-align: center;
    font-family: cambria;
    font-size: 50px;
    padding: 30px;
    margin: 0;
}

#blog{
    text-align: center;
    text-emphasis: 10px;
    margin: 0;
    
}
#clickme{
    background-color:#4e1f53ad;
    color: #000;
    border-color: white;
    opacity: 50%;
}
     
.blogbody{
    display: block;
    margin: 0 60px 0 60px;
}

.navbar{
    background-color:#222629ec;
    margin: 0 50px 0 50px;
    color: whitesmoke;
    border-radius: 5px;
}

footer{
    text-align: right;
    margin: 0 100px 0 0;
}

.arrow{
    background-color: #02172bd9;
    border-radius: 5em;
    text-align: center;
    margin-left: 50%;
    border: 2px solid black;
}
i.fa{
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
   
}
.section-header{
    margin: 30px 0 30px 0;
    color: white; 
    font-weight: bold;
}

p.explanation{
    margin-top:10px;
    color: #d0d1d3;
    padding: 20px;
}

section{
    background-color: #3a3939;
    color: white;
    padding: 20px;
    opacity: 1;
}


