*{
    font-family: Cambria;
    margin: 5px;
} 

.container.boxify{
    border: 5px solid aqua;
    border-radius: 5px;
}

.flex-container{
    resize: horizontal;
    overflow: hidden;
    display: flex;
    margin: 1em;
    flex: auto;
}
header.boxify{
    border: 2px solid blue;
    border-radius: 5px;
}

.menu{
    display:none;
}

.menu.show{
    display: block;
    margin-left: 10%;
}

.opening{ 
    text-align: center;
    font-family: cambria;
    font-size: 50px;
    padding: 10px;
    margin: 0;
}

#blog{
    text-align: center;
    text-emphasis: 10px;
    margin: 0;
    
}
     
.blogbody{
    display: block;
    margin: 0 60px 0 60px;
}

a i{
    margin-left: 10%;
}

footer{
    text-align: right;
    margin: 0 100px 0 0;
}

.arrow{
    background-color: #02172bd9;
    border-radius: 5em;
    text-align: center;
    margin-left: 50%;
    border: 2px solid black;
}
i.fa{
    font-size: 30px;
    padding-top: 5px;
    text-align: center;  
}

a.btn:hover{
    border: 5px;
    border-style:outset;
   
}
.section-header{
    margin: 10px 0 10px 0;
    color: white; 
    font-weight: bold;  
}

.section-header.boxify{
    border: 2px solid pink;
    border-radius: 5px;
}

p.explanation{
    margin-top:10px;
    color: #d0d1d3;
    padding: 10px;
    
}

p.explanation.boxify{
    border: 2px solid yellow;
    border-radius: 5px;
}

section{
    background-color: #3a3939;
    color: white;
    padding: 20px;  
}

section.boxify{
    border: 2px solid black;
    border-radius: 5px;
}

article{
    background-color: #4d4d4e;
    color: white;
    padding: 20px;
    margin-top: 10px;
    padding-left: 20px;
    
}

article.boxify{
    border: 2px solid red;
    border-radius: 5px;
}

.view-border button{
    display: flex;
    margin: 5% 40% 0 40%;
    margin-top: 8px;
    background-color: 26c1f9;
}

figure{
    display: flex;
    margin-left: 30%;
    
}


